@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    height: 100vh;
    background: rgb(238, 239, 228);
}
.bild {
    left: 100vh;
    position: absolute;
    width: 600px;
}
img {
    z-index: 000;
    width: 130%;
    top: 5vh;
    right: 20px;
    position: absolute;
}

h1 {
    top: 30vh;
    left: 25vh;
    width: 405px;
    font-size: 3.5rem;
    position: absolute;
    font-weight: 300;
    font-family: 'Playfair Display SC', serif;
}
p {
    left: 25vh;
    top: 50vh;
    width: 405px;
    position: absolute;
}
.button {
    left: 28vh;
    top: 65vh;
    border-radius: 2em;
    padding: 10px 100px;
    position: absolute;
    border: 1px solid rgb(236, 169, 59);
    background-color: rgb(236, 169, 59);
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: white;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.228);;

}







